body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
}

.sidebar {
    background-color: #a875ff;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    color: white;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar ul li a:hover {
    background-color: #6F08BB;
}

.sidebar ul li a i {
    margin-right: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

.profile {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    text-align: center;
    margin: 20px 0;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-details {
    margin-top: 20px;
}

.profile-details label {
    display: block;
    margin-bottom: 5px;
    color: #6200ea;
}

.profile-details input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.profile-details button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.profile-details button:hover {
    background-color: #5300d3;
}

.home-content h1 {
    font-size: 2.5em;
    color: #6F08BB;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1.2em;
    color: #555;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar ul {
        display: flex;
    }

    .sidebar ul li a {
        padding: 10px;
    }

    main {
        padding: 10px;
    }
}
